<p>forum-ans works!</p>

<section class="bg-foruma">

    <h2 class="ms-3 fs-1 bg-title" style="color: #ecf00d">Respuestas</h2>

    <div class="card m-5 inputstl1" *ngFor="let forum of forumService.forums" >
       <!-- "622b9d694bf7ee934366a3b6" "622ba06c4bf7ee934366a3b9" 622e961ca0408604498e59f8'-->
       
        <div class="card-body" *ngIf="forumService.forums._id == forumService.forums._id">
            <h5 class="card-title fs-3" style="color:#328cc1">{{forum.forumTitle}}</h5>
            <hr>
            <p class="card-text fs-5">{{forum.ForumContent}}</p>
            <p class="card-text" style="background-color: rgb(232, 144, 191);">Etiquetas: {{forum.forumTags}}</p>
            <p class="card-text fs-4" style="color:#1D2731">Propuesta de solución: {{forum.ForumAnswers}}</p>
            <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-warning" style="color: #1D2731; font-weight: bold;" (click)="backForum()">Volver al foro</a>
                <a href="#" class="btn btn-warning" style="color: #1D2731; font-weight: bold;">Haz tu aporte</a>
            </div>
            
        </div>
    </div>
</section>