<div class="bg-bluedark-tucode d-flex align-items-stretch">
  <div class="animated fadeInDown main-container d-flex flex-row flex-wrap row">
    <div class="p-3 text-white bg-medium-tucode main-menu">
      <div class="menu-info">
        <h2 class="text-center">TuCodigo.Com</h2>
        <hr style="background-color: white; height: 3px" />

        <ul class="nav nav-pills flex-column mb-auto main-ul">
          <li
            (click)="showTablef()"
            class="text-center text-white btn elemento_valor"
            [ngClass]="
              showTable ? 'bg-warning animated flipInX' : 'bg-bluedark-tucode'
            "
          >
            Usuarios Registrados

            <hr style="background-color: white; height: 3px" />
          </li>
          <li
            (click)="showSolicitudf()"
            class="text-center m-2 text-white btn"
            [ngClass]="
              showSolicitud
                ? 'bg-warning animated flipInX'
                : 'bg-bluedark-tucode'
            "
          >
            Solicitudes Recibidas
            <hr style="background-color: white; height: 3px" />
          </li>
          <li
            (click)="showCoursesf()"
            class="text-center m-2 text-white btn"
            [ngClass]="
              showCourses ? 'bg-warning animated flipInX' : 'bg-bluedark-tucode'
            "
          >
            Administrar Cursos
            <hr style="background-color: white; height: 3px" />
          </li>
          <li
            (click)="showForumf()"
            class="text-center m-2 text-white btn"
            [ngClass]="
              showforum ? 'bg-warning animated flipInX' : 'bg-bluedark-tucode'
            "
          >
            Administrar Foros
            <hr style="background-color: white; height: 3px" />
          </li>
        </ul>
      </div>
    </div>
    <!-- tabla de usuarios -->
    <div *ngIf="showTable" class="main-table animated fadeInLeft">
      <table class="table table-striped main-table">
        <thead>
          <th class="text-center bg-medium-tucode text-white">ID</th>
          <th class="text-center bg-medium-tucode text-white">
            Nombre de Usuario
          </th>
          <th class="text-center bg-medium-tucode text-white">Apellido</th>
          <th class="text-center bg-medium-tucode text-white">Email</th>
          <th class="text-center bg-medium-tucode text-white">curso Actual</th>
          <th class="text-center bg-medium-tucode text-white">Permisos</th>
          <th class="bg-medium-tucode text-center text-white">Opciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let element of userService.userLists">
            <td data-label="ID" class="text-white">{{ element._id }}</td>
            <td data-label="Nombre" class="text-white">{{ element.name }}</td>
            <td data-label="Apellido" class="text-white">
              {{ element.lastName }}
            </td>
            <td data-label="Email" class="text-white">{{ element.email }}</td>
            <td data-label="Curso" class="text-white">
              {{ element.actualCourse }}
            </td>
            <td data-label="Permisos" class="text-white">
              <span><b>Administración:</b></span> {{ element.permissionsAdmin }}
              <br />
              <span><b>Acceso Cliente:</b></span>
              {{ element.permissionsClient }}
              <br />
              <span><b>Cli. Verificado:</b></span>
              {{ element.permissionsVerified }}
            </td>
            <td class="text-white">
              <a class="btn btn-danger m-2" (click)="deleteUser(element._id)">
                Borrar
              </a>
              <a class="btn btn-primary m-2" (click)="upDateUser(element)">
                Editar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- fin tabla de usuarios -->

    <!-- solicitudes recibidas -->
    <div
      *ngIf="showSolicitud"
      class="main-table table-responsive-sm col-md-9 animated fadeInLeft"
    >
      <table class="table table-striped main-table">
        <thead>
          <th class="text-center bg-medium-tucode text-white">ID</th>
          <th class="text-center bg-medium-tucode text-white">
            Nombre de Contacto
          </th>
          <th class="text-center bg-medium-tucode text-white">Email</th>
          <th class="text-center bg-medium-tucode text-white">Teléfono</th>
          <th class="text-center bg-medium-tucode text-white">Contenido</th>
          <th class="text-center bg-medium-tucode text-white">Respuesta</th>
          <th class="bg-medium-tucode text-center text-white">Opciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let cont of contactService.contactsList">
            <td data-label="ID" class="text-white">{{ cont._id }}</td>
            <td data-label="Nombre de contacto" class="text-white">
              {{ cont.contactName }}
            </td>
            <td data-label="Email" class="text-white">
              {{ cont.contactEmail }}3
            </td>
            <td data-label="Teléfono" class="text-white">
              {{ cont.contactPhone }}
            </td>
            <td data-label="Contenido" class="text-white">
              {{ cont.contactContent }}
            </td>
            <td data-label="respuesta" class="text-white">
              {{ cont.contactAnswers }}
            </td>
            <td
              data-label="Opciones"
              class="text-white d-flex justify-content-center flex-column"
            >
              <a (click)="deleteContact(cont._id)" class="btn btn-danger m-2">
                Borrar
              </a>
              <a (click)="upDateContact(cont)" class="btn btn-primary m-2">
                Responder</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- fin solicitudes recibidas -->

    <!-- solicitud de foros -->
    <div *ngIf="showforum" class="main-table animated fadeInLeft">
      <table class="table table-striped main-table">
        <thead>
          <!--  <th class="text-center bg-medium-tucode text-white">ID</th>
          <th class="text-center bg-medium-tucode text-white">
            titulo del foro
          </th>
          <th class="text-center bg-medium-tucode text-white">
            administrar etiquetas
          </th> -->
          <th class="text-center bg-medium-tucode text-white">Cabeceros</th>
          <th class="text-center bg-medium-tucode text-white">
            Pregunta del Usuario
          </th>
          <th class="text-center bg-medium-tucode text-white">
            Respuestas del foro
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let forum of forumService.forums">
            <!-- <td data-label="ID" class="text-white">{{ forum._id }}</td>
            <td data-label="Titulo del Foro" class="text-white">
              {{ forum.forumTitle }}
            </td>
            <td data-label="Administrar Etiquetas" class="text-white">
              {{ forum.forumTags }}
            </td> -->
            <td data-label="Contenido de Foro" class="text-white main-ans">
              <p>
                <span> <b>ID</b> </span> {{ forum._id }}
              </p>
              <p>
                <span> <b>Titulo</b> </span> {{ forum.forumTitle }}
              </p>
              <p>
                <span> <b>Etiquetas</b> </span> {{ forum.forumTags }}
              </p>

              <a (click)="deleteForum(forum._id)" class="btn btn-danger m-2">
                Borrar
              </a>
              <a (click)="upDateForum(forum)" class="btn btn-primary m-2">
                Editar</a
              >
            </td>
            <td data-label="Contenido de Foro" class="text-white main-ans">
              {{ forum.ForumContent }}
            </td>
            <td
              *ngFor="let ans of forum.ForumAnswers"
              data-label="Comentarios"
              class="text-white d-flex d-block main-ans2 gap-2"
            >
              {{ ans }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square main-but-ed"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                />
              </svg>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- fin solicitud de foros -->

    <!-- administrar cursos -->

    <div
      *ngIf="showCourses"
      class="main-table table-responsive-sm col-md-9 animated fadeInLeft"
    >
      <table class="table table-striped main-table">
        <thead>
          <th class="text-center bg-medium-tucode text-white">ID</th>
          <th class="text-center bg-medium-tucode text-white">
            Nombre de curso
          </th>
          <th class="text-center bg-medium-tucode text-white">Temario</th>
          <th class="text-center bg-medium-tucode text-white">Contenido</th>
          <th class="bg-medium-tucode text-center text-white">Ejemplos</th>
          <th class="bg-medium-tucode text-center text-white">Preguntas</th>
          <th class="bg-medium-tucode text-center text-white">Opciones</th>
        </thead>
        <tbody>
          <tr>
            <td data-label="ID" class="text-white">123</td>
            <td data-label="Nombre de Curso" class="text-white">HTML</td>
            <td data-label="Temario" class="text-white">
              <p>etiquetas</p>
              <p>Clases</p>
              <p>Formularios</p>
              <p>tipo de inputs</p>
            </td>
            <td data-label="Contenido" class="text-white">123</td>
            <td data-label="Ejemplos" class="text-white">ejemplo de prueba</td>
            <td data-label="Preguntas" class="text-white">
              ¿esta es una prueba?
            </td>
            <td data-label="Opciones" class="text-white">
              <a class="btn btn-danger m-2"> Borrar </a>
              <a class="btn btn-primary m-2"> Editar</a>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- administrar cursos -->
    </div>
  </div>
</div>

<!-- forma admin-usuarios -->

<form
  *ngIf="openUp"
  class="animated fadeInDown bg-medium-tucode main-form p-3 d-flex flex-column"
  #updateForm="ngForm"
  (ngSubmit)="addUser(userService.selectedUser._id, updateForm)"
>
  <h3 class="text-white text-center">Formato de Edición</h3>

  <div class="m-2 ms-3">
    <label class="text-white" for="name">Nombre</label>
    <div>
      <input
        type="text"
        name="name"
        id=""
        #name="ngModel"
        [(ngModel)]="userService.selectedUser.name"
      />
    </div>
  </div>

  <div class="m-2 ms-3">
    <label class="text-white" for="lastName">Apellido</label>
    <div>
      <input
        type="text"
        name="lastName"
        id=""
        #lastName="ngModel"
        [(ngModel)]="userService.selectedUser.lastName"
      />
    </div>
  </div>

  <div class="m-2 ms-3">
    <label class="text-white me-2" for="email">Correo </label>
    <div>
      <input
        type="email"
        name="email"
        id=""
        #email="ngModel"
        [(ngModel)]="userService.selectedUser.email"
      />
    </div>
  </div>

  <div class="align-self-center">
    <label class="text-white form-label me-2" for="permissions"
      >Permisos de ADMIN</label
    >
    <input
      class=""
      type="checkbox"
      list="drawFiles"
      name="permissionsAdmin"
      id=""
      [(ngModel)]="userService.selectedUser.permissionsAdmin"
      #permissionsAdmin="ngModel"
    />
  </div>

  <div class="align-self-center">
    <label class="text-white form-label me-2" for="permissions"
      >Permisos de Cliente</label
    >
    <input
      class=""
      type="checkbox"
      list="drawFiles"
      name="permissionsClient"
      id=""
      [(ngModel)]="userService.selectedUser.permissionsClient"
      #permissionsClient="ngModel"
    />
  </div>

  <div class="align-self-center">
    <label class="text-white form-label me-2" for="permissions"
      >Cuenta verificada</label
    >
    <input
      class=""
      type="checkbox"
      list="drawFiles"
      name="permissionsVerified"
      id=""
      [checked]="userService.selectedUser.permissionsVerified"
      [(ngModel)]="userService.selectedUser.permissionsVerified"
      #permissionsVerified="ngModel"
    />
  </div>
  <div class="row align-self-center me-2">
    <button class="btn btn-light m-2">Guardar</button>
    <button class="btn btn-light m-2" (click)="resetForm()">Cerrar</button>
  </div>
</form>

<!-- forma respuestas de contacto -->

<form
  id="formcontactAnswer"
  #answerForm="ngForm"
  (ngSubmit)="ansContact(contactService.selectedContact._id, answerForm)"
  *ngIf="showSolicitudUp"
  class="animated fadeInDown bg-medium-tucode main-form p-4 d-flex flex-column"
>
  <!-- (ngSubmit)="ansContact(contactService.selectedContact._id,answerForm)" -->
  <h3 class="text-white text-center mb-2">Envíar respuesta</h3>
  <textarea
    class="form-control"
    required="true"
    name="contactAnswers"
    id=""
    cols="30"
    rows="8"
    #contactAswers="ngModel"
    [(ngModel)]="contactService.selectedContact.contactAnswers"
    style="resize: none"
  ></textarea>
  <div class="d-flex align-items-center justify-content-center">
    <button class="btn btn-light m-2" form="formcontactAnswer">Envíar</button>
    <button (click)="showSolicitudUpFun()" class="btn btn-light m-2">
      Cerrar
    </button>
  </div>
  <!-- <div class="flex-column aling-self-center me-3">
    <button form="formcontactAnswer" class="btn btn-light m-2">Envíar</button>
    <button (click)="showSolicitudUpFun()" class="btn btn-light m-2">
      Cerrar
    </button>
  </div> -->
</form>

<!--  forumulario de foros -->
<form
  #formAdminForum="ngForm"
  (ngSubmit)="editForum(forumService.selectedForum._id, formAdminForum)"
  *ngIf="showforumUp"
  class="animated fadeInDown
   bg-medium-tucode main-form d-flex flex-column p-3"
>
  <h3 class="text-white text-center">Editar Entrada</h3>
  <div class="m-2">
    <label class="text-white form-label me-2" for="forumTitle"
      >Editar titulo del foro</label
    >
    <div>
      <textarea
        class=""
        type="text"
        list="drawFiles"
        name="forumTitle"
        #forumTitle="ngModel"
        [(ngModel)]="forumService.selectedForum.forumTitle"
        cols="40"
        rows="3"
        style="resize: none"
      ></textarea>
    </div>
  </div>

  <div class="m-2">
    <label class="text-white form-label me-2" for="forumTags"
      >Modificar Etiquetas</label
    >
    <div>
      <textarea
        class=""
        type="text"
        list="drawFiles"
        name="forumTags"
        #forumTags="ngModel"
        [(ngModel)]="forumService.selectedForum.forumTags"
        cols="40"
        rows="2"
        style="resize: none"
      ></textarea>
    </div>
  </div>

  <div class="m-2">
    <label class="text-white form-label me-2" for="forumContent"
      >Editar contenido</label
    >
    <div>
      <textarea
        class=""
        type="text"
        list="drawFiles"
        name="ForumContent"
        #ForumContent="ngModel"
        [(ngModel)]="forumService.selectedForum.ForumContent"
        cols="40"
        rows="5"
        style="resize: none"
      ></textarea>
    </div>
  </div>
  <div class="d-flex flex-row align-items-center justify-content-center">
    <button class="btn btn-light m-2">Envíar</button>
    <button (click)="showforumUpFun()" class="btn btn-light m-2">Cerrar</button>
  </div>
 
</form>
