
    <!-- Footer -->
    <footer class="bg-light text-center">
        <!-- Grid container -->
        <div class="container p-4">
      
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f">

              <img
                  src="../../../assets/img/facebook"
                  height="30"
                  alt="MDB Logo"
                  loading="lazy"
                  />	
            </i></a>
      
            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter">
              <img
              src="../../../assets/img/twiter.png"
              height="30"
              alt="MDB Logo"
              loading="lazy"
              />	
            </i></a>
      
            <!-- Instagram -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram">
              <img
              src="../../../assets/img/instagram.png"
              height="30"
              alt="MDB Logo"
              loading="lazy"
              />	
            </i></a>
      
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca in" href="#!" role="button"><i class="fab fa-linkedin-in">
            <img
            src="../../../assets/img/linkedin.jpg"
            height="30"
            alt="MDB Logo"
            loading="lazy"
            />	
            </i></a>
            
          </section>
          <!-- Section: Social media -->
      
      
         
          <!-- Section: Text -->
          <section class="mb-4">
            <p>
              La tecnología no es nada. Lo importante es que tengas fe en la gente,
               que sean básicamente buenas e inteligentes, y si les das herramientas, 
               harán cosas maravillosas con ellas.-Steve Jobs.
            </p>
          </section>
          <!-- Section: Text -->
      
      
         
      
        </div>
        <!-- Grid container -->
      
         <!-- Section: Form -->
         <section class="">
          <form action="">



            
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2">
                  <strong></strong>
                </p>
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-md-5 col-12">
                <!-- Email input -->
               
              </div>
              <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-auto">
      
                <!-- Submit button -->
                <button type="submit" class="btn btn-warning mb-4">
                  Contactanos
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->

        
      
      </footer>
      <!-- Footer -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220"><path fill="#094293" fill-opacity="1" d="M0,128L60,106.7C120,85,240,43,360,37.3C480,32,600,64,720,106.7C840,149,960,203,1080,186.7C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
      



      

